{% extends "base.html" %}

{% block banner %}
<div id="homepage-banner">
	<img src="{{ MEDIA_URL }}{% if nav.image %}{{ nav.image }}{% else %}images/homepage-banner.png{% endif %}" width="860px" height="219px" />
</div>
{% endblock %}

{% block left_content %}
<div id="left-content">
	<div class="rounded-border rounded-corners">
		<h1>Product spotlight</h1>
		<div class="products">
			{% for p in products %}
				{% if p.featured %}
					<div class="product_content product_border" rel="{{ p.id }}">
						<img class="product_image" src="{{ MEDIA_URL }}{{ p.image }}" />
						<h2>{{ p.title }}</h2>
						<h1>${{ p.price }}</h1>
						<img class="cart_button" src="{{ MEDIA_URL }}images/cart_button.png" />
					</div>		
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div id="video-content">
		<div id="left-video-content">
			<iframe width="305" height="254" src="http://www.youtube.com/embed/dIzhb6XayJY" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="right-video-content">
			<h1>Doctor's opinion</h1>
			<div class="video-content">"It makes little differents how careful you are: with so many processed foods on the market today,each of us unconsciously ingests a muttitude of artificial additives. Even themost basic supermarket items contain colorants,flavoring,and preservatives. When"</div>
			<b>Dr. Jack Shepard ,LA</b>
		</div>
	</div>
</div>
{% endblock %}
{% block right_content %}
<div id="right-content">
	<div id="your-cart" class="rounded-border rounded-corners">
		<form id="cart-form" >
		<div class="cart-header">
			<h1>Your Cart</h1>
			<img src="{{ MEDIA_URL }}images/cart.png" />
			<a class="clear-cart">Clear Items</a>
		</div>
		<div class="clear"></div>
		<ul id="cart-list">
			{% for p in cart %}
				<li id="{{ p.id }}">
					<input class="cart-input" type="text" value="{{ p.quantity }}" size="2"/>
					<span class="cart-title">{{ p.title }}</span>
					<img class="cart-close" src="{{ MEDIA_URL }}images/close.png"/> <span class="cart-price">${{ p.price }}</span>
					<div class="clear"></div>
				</li>			
			{% endfor %}
		</ul>

		<div class="cart-footer">
			<input type="image" src="{{ MEDIA_URL }}images/checkout.png" /> 
			<label>Total:</label>
			<span class="cart-total">$388</span>
		</div>
		</form>
	</div>
</div>
{% endblock %}
